@import '~antd/dist/antd.css';

.ant-layout-header {
  height: unset !important;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: #f0f2f5;
}

.logo {
  text-align: center;
  margin-bottom: 50px;
  cursor: pointer;
}

.main {
  width: 368px;
  margin: 0 auto;
}

.forgetPassword {
  float: right;
}

.submit {
  display: block;
  width: 100%;
}